// @keyframes opacity-true {
//     0% {
//         opacity: 0;
//     }
//     50% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }

// @keyframes opacity-false {
//     0% {
//         opacity: 0;
//     }
//     50% {
//         opacity: 0;
//     }
//     100% {
//         opacity: 1;
//     }
// }

html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    display: grid;
    grid-template-rows: 500px;
    grid-template-columns: repeat(auto-fit, 1fr);
    justify-items: center;
    align-items: center;

}

.sticker {
    height: 180px;
    width: 100px;
    grid-row: 1/-1;


    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    perspective: 2500;
    
    &__back,
    &__front {
        grid-row: 1/-1;
        grid-column: 1/-1;
        transition: all .5s ease;
        
        background: white;
        box-shadow: 0px 0px 12px 5px #88888876;
    }


    &__back {
        opacity: 0;
        transform: rotateY(180deg);

        display: grid;
        grid-template-rows: 30px 150px;
        grid-template-columns: 1fr;

        &__title {
            grid-row: 1/2;
            grid-column: 1/-1;
        }
        &__description {
         grid-row: 2/3;
         grid-column: 1/-1;   

            &__text {
                overflow-y: scroll;
                height: 150px;
            }
        }
    }

    &:hover {
        .sticker {
            &__front {
                opacity: 0;
                z-index: -10;
                transform: rotateY(-180deg);

            }
            &__back {
                opacity: 1;
                transform: rotateY(0deg);

            }
        }
    }

    &__front {
        display: grid;
        justify-items: center;
        align-items: center;
        grid-gap: 10px;



        &__image-container {
        width: 80px;
        height: 80px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }    
    }
}


